code {
	#margin-bottom: 1.5em;
	font-size: 0.85em;
	//color: #043f51;
	//background-color: #11134B;
	
	color: #348e9e;
	background-color: #fafafa;
	@include rounded(5px);
	
	margin: 0;
	padding: 2px 4px;
	#display: block;
	
	.lineno { padding-right: 12px; color: #8f908a;}
	.hll { background-color: #49483e }
	.err { color: #960050; background-color: #1e0010 } /* Error */
	
	#0980a3
	
	.c { color: #aba2e1 } /* Comment */
	.k { color: #0000B3 } /* Keyword */
	.l { color: #ae81ff } /* Literal */
	.n { color: #054A5F } /* Name */
	.o { color: #606060 } /* Operator */
	.p { color: #606060 } /* Punctuation */
	.m { color: #cf432a } /* Literal.Number */
	.s { color: #a31515 } /* Literal.String */
	.w { color: #f8f8f2 } /* Text.Whitespace */
	
	.cm { color: #aba2e1 } /* Comment.Multiline */
	.cp { color: #aba2e1 } /* Comment.Preproc */
	.c1 { color: #aba2e1 } /* Comment.Single */
	.cs { color: #aba2e1 } /* Comment.Special */
	.ge { font-style: italic } /* Generic.Emph */
	.gs { font-weight: bold } /* Generic.Strong */
	.kc { color: #0000B3 } /* Keyword.Constant */
	.kd { color: #0000B3 } /* Keyword.Declaration */
	.kn { color: #0000B3 } /* Keyword.Namespace */
	.kp { color: #0000B3 } /* Keyword.Pseudo */
	.kr { color: #0000B3 } /* Keyword.Reserved */
	.kt { color: #0000B3 } /* Keyword.Type */
	.ld { color: #cf432a } /* Literal.Date */
	.na { color: #0980a3 } /* Name.Attribute */
	.nb { color: #0980a3 } /* Name.Builtin */
	.nc { color: #0980a3 } /* Name.Class */
	.no { color: #0980a3 } /* Name.Constant */
	.nd { color: #0980a3 } /* Name.Decorator */
	.ni { color: #0980a3 } /* Name.Entity */
	.ne { color: #0980a3 } /* Name.Exception */
	.nf { color: #054A5F } /* Name.Function */
	.nl { color: #0980a3 } /* Name.Label */
	.nn { color: #0980a3 } /* Name.Namespace */
	.nx { color: #0980a3 } /* Name.Other */
	.py { color: #8f6f2f } /* Name.Property */
	.nt { color: #8f6f2f } /* Name.Tag */
	.nv { color: #667225 } /* Name.Variable */
	.ow { color: #cf432a } /* Operator.Word */
	.mf { color: #cf432a } /* Literal.Number.Float */
	.mh { color: #cf432a } /* Literal.Number.Hex */
	.mi { color: #cf432a } /* Literal.Number.Integer */
	.mo { color: #cf432a } /* Literal.Number.Oct */
	.sb { color: #a31515 } /* Literal.String.Backtick */
	.sc { color: #a31515 } /* Literal.String.Char */
	.sd { color: #a31515 } /* Literal.String.Doc */
	.s2 { color: #a31515 } /* Literal.String.Double */
	.se { color: #a31515 } /* Literal.String.Escape */
	.sh { color: #a31515 } /* Literal.String.Heredoc */
	.si { color: #a31515 } /* Literal.String.Interpol */
	.sx { color: #a31515 } /* Literal.String.Other */
	.sr { color: #a31515 } /* Literal.String.Regex */
	.s1 { color: #a31515 } /* Literal.String.Single */
	.ss { color: #a31515 } /* Literal.String.Symbol */
	.bp { color: #cf432a } /* Name.Builtin.Pseudo */
	.vc { color: #cf432a } /* Name.Variable.Class */
	.vg { color: #cf432a } /* Name.Variable.Global */
	.vi { color: #cf432a } /* Name.Variable.Instance */
	.il { color: #cf432a } /* Literal.Number.Integer.Long */
}
